*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #573535;
    margin-inline-end: 2px;

}
.container{
    position: relative;

}

.flag .left{
    height: 60px;
    width: 300px;
    background-color: rgb(237, 143, 12);
    position: absolute;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    align-items: center;
}
.flag .middle{
    height: 60px;
    width: 300px;
    background-color: rgb(241, 237, 232);
    position: absolute;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-top: 60px;
}
.flag .right{
    height: 60px;
    width: 300px;
    background-color: rgb(9, 155, 26);
    position: absolute;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-top: 120px;
}

.flag .circle{
    display: flex;
    border:3px blue solid ;
    height: 60px;
    width: 60px;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    position: absolute;
    margin-top: 60px;
    margin-left: 120px;
}

.flag::before{
    content: '';
    position: absolute;
    border-radius: 50%;
   background-color: blue;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 90px;
    margin-left: 155px;

}

.flag span b{
    height: 60px;
    width: 3px;
    background-color: rgb(16, 16, 211);
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    inset: 12px;
    transform: rotate(calc(20deg * var(--i)));
    display: inline-block;
    border-radius: 4px;

}

.cont{
    height: 500px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-left: -10px;
    border-radius: 20%;


}

.ground{
    display: flex;
    height: 60px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 19, 33);
    margin-left: -55px;
    border-radius: 50%;
    position: relative;
    margin-top: -20px;
    flex-wrap:wrap-reverse;
}


